@charset "UTF-8";

body {
            background-color: rgb(255, 255, 255);
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 20px;
        }
        h1 {
            color: rgb(255, 0, 0);
            background-color: rgb(184, 110, 15);
        }
        h2 {
            color: rgb(255, 0, 0);
        }
        p {
            text-align: justify;
        }